{#
/**
 * @file
 * Template for page-content component.
 *
 * Available config:
 * - page_header_container_type: sm | md | lg | xl | xxl | fluid.
 * - page_header_container_utility_classes: An array of utility classes.
 * - page_content_container_type: sm | md | lg | xl | xxl | fluid | false | true.
 * - page_content_container_utility_classes: An array of utility classes.
 * - page_main_utility_classes: An array of utility classes.
 *
 * Available blocks:
 * - page_header
 * - page_inner_content
 */
#}
{% set page_header_container_attributes = page_header_container_attributes ?: create_attribute() %}
{% set page_content_container_attributes = page_content_container_attributes ?: create_attribute() %}

{% 
  set page_main_classes = []|merge(page_main_utility_classes ?: []) 
%}

{% set header_container_class = '' %}
{% if page_header_container_type is null %}
  {% set header_container_class = 'container' %}
{% elseif page_header_container_type is not empty %}
  {% set header_container_class = 'container-' ~ page_header_container_type %}
{% endif %}
{%
  set page_header_container_classes = [
    header_container_class
  ]|merge(page_header_container_utility_classes ?: [])
%}

{% set content_container_class = '' %}
{% if page_content_container_type is null %}
  {% set content_container_class = 'container' %}
{% elseif page_content_container_type is not empty %}
  {% set content_container_class = 'container-' ~ page_content_container_type %}
{% endif %}
{%
  set page_content_container_classes = [
    content_container_class
  ]|merge(page_content_container_utility_classes ?: [])
%}

<main{{content_attributes.addClass(page_main_classes)}}>
	{% if page.header %}
		<header class="page__header">
			<div {{ page_header_container_attributes.addClass(page_header_container_classes) }}>
				{% block page_header %}
					{{ page.header }}
				{% endblock %}
			</div>
		</header>
	{% endif %}

	{% if page.content %}
    <div class="page__content" id="main-content">
      <div {{ page_content_container_attributes.addClass(page_content_container_classes) }}>
        <div class="row">
          <div class="col-md-3">
            {% block page_sidebar_first %}
              <div id="sidebar-first">
                {# For now, and until I figure it how to include regions here, I have #}
                {# to embed the blocks I need using the IDs directly #}
                {% if logged_in %}
                  <h2>User Menu</h2>
                  <div class="logged-in-sidebar-account-menu">
                    {{ drupal_block('system_menu_block:account') }}
                  </div> 
                {% else %}
                  <h2>Registration &amp; Log-in</h2>
                  {{ drupal_entity('block_content', '4') }}
                {% endif %}
              </div>
            {% endblock %}
          </div>
          <div class="col-md-9">
            {% block page_inner_content %}
              <div class="front-content">
                {{ page.content }}
              </div>
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</main>
