{#
/**
 * @file
 * Template for rendering a user profile.
 *
 * Available variables:
 * - view_mode: View mode; for example, "full", "teaser".
 * - content: All content renderable arrays for the user.
 * - user_utility_classes: (optional) An array of additional classes for design or styling requirements.
 *
 * @see template_preprocess_user()
 */
#}
{%
  set classes = [
    'user',
    'user--' ~ view_mode|clean_class,
  ]|merge(user_utility_classes ?: [])
%}
{% set current_path = path('<current>') %}
{% set user_url_alias = path('entity.user.canonical', {'user': user.id}) %}
<article{{attributes.addClass(classes)}}>
  {% if logged_in %}
    <div id="user-profile-chr-menu">
      <h1>{{ user.label() }}</h1>
      <h1>{{ title }}</h1>
      <ul class="tabs primary clearfix">
        <li class={{ user_url_alias == current_path ? 'active' : '' }}><a href="/user/{{ user.id() }}">View</a></li>
        {% if user.hasRole('administrator') %}
          <li class={{ title_page == "Affiliate Center" ? 'active' : '' }}><a href="/user/{{ user.id() }}/affiliate">Affiliate Center</a></li>
          <li class={{ title_page == "Bookmarks" ? 'active' : '' }}><a href="/user/{{ user.id() }}/bookmarks">Bookmarks</a></li>
        {% endif %}
        <li class={{ title_page == "All Colleagues" ? 'active' : '' }}><a href="/user/{{ user.id() }}/friends">Colleagues</a></li>
        <li><a href="/user/{{ user.id() }}/edit">Edit</a></li>
        <li class={{ title_page == "Orders" ? 'active' : '' }}><a href="/user/{{ user.id() }}/orders">Orders</a></li>
        {% if user.hasRole('administrator') %}
          <li class={{ title_page == "Contact" ? 'active' : '' }}><a href="/contact">Contact</a></li>
          <li class={{ title_page == "Invite Appearance Attorneys" ? 'active' : '' }}><a href="/user/{{ user.id() }}/invite">Invite Appearance Attorneys</a></li>
          <li class={{ title_page == "Invite Law Firm" ? 'active' : '' }}><a href="/user/{{ user.id() }}/invites/invite_by_email">Invite Law Firms</a></li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
  {# We are in user's main profile page #}
  <div id="profile-user-page">
    {% if user_url_alias == current_path %}
      <div class="affiliate-section">
        <h3>Affiliate</h3>
        <dl>
          <dt></dt>
          <dd>Manage your business <a href="/user/{{ user.id() }}/affiliate">here</a></dd>
        </dl>
      </div>
      <div class="receive-assignments-section">
        <a id="profile-recieve_assignments"></a>
        <h3>Receive Assignments</h3>
        <div class="profile">
          <div class="label">Name of Law Firm</div>
          <div class="value">{{ name_firm }}</div>
          <div class="label">Name of Attorney</div>
          <div class="value">{{ name_attorney }}</div>
          <div class="label">Willing to act as Local Counsel:</div>
          {% if willing_local_counsel == 0 %}
            <div class="value">Yes</div>
          {% else %}
            <div class="value">No</div>
          {% endif %}
          <div class="label">Willing to handle Depositions:</div>
          {% if willing_handle_depositions == 0 %}
            <div class="value">Yes</div>
          {% else %}
            <div class="value">No</div>
          {% endif %}
          <div class="label">Street Address:</div>
          <div class="value">{{ street_address }}</div>
          <div class="label">City or Town:</div>
          <div class="value">{{ city_town }}</div>
          <div class="label">State or Territory:</div>
          <div class="value">{{ state_territory|raw }}</div>
          <div class="label">Zip Code:</div>
          <div class="value">{{ zip_code }}</div>
          <div class="label">Mobile Number: {{ mobile_number }}</div>
          <div class="label">Landline: {{ landline }}</div>
          <div class="label">Facsimile Number:</div>
          <div class="label">Website:</div>
          <div class="value">{{ website }}</div>
          <div class="label">Counties, Courthouses and Courts:</div>
          <div class="value">{{ counties_courthouses_courts|raw }}</div>
          <div class="label">My Appearance Practice/Other Legal Work:</div>
          <div class="value">{{ my_legal_work }}</div>
          <div class="label">Link to LinkedIn Profile:</div>
          <div class="value">{{ linkedin_profile }}</div>
        </div>
      </div>
      <div class="order-history-section">
        <h3>History</h3>
        <dl>
          <dt>Orders</dt>
          <dd><a href="/user/{{ user.id() }}/orders">Click here to view your order history.</a></dd>
        </dl>
      </div>
    {% endif %}
    {{- content|without('summary') -}}
  </div>
</article>
